<footer class="flex justify-between items-center bg-[rgb(209,67,63)]/20 p-4">
  <div class="flex justify-center items-center gap-3">
    <a href="https://angular.io" target="_blank">
      <svg-angular
        classes="w-[100px] lg:w-[250px] transition-all duration-300 ease-in-out hover:translate-x-0 lg:hover:-translate-y-2"
      ></svg-angular>
    </a>

    <span class="text-white text-base lg:text-xl capitalize"
      >&copy; {{ year }}
      <a
        href="https://linker-2.vercel.app"
        target="_blank"
        class="text-white/70 transition-all duration-300 ease-in-out hover:text-white/70 lg:hover:text-[rgb(209,67,63)]"
        >захар перекотий</a
      ></span
    >
  </div>
</footer>
