<nav
  class="sticky top-0 flex justify-between items-center p-4 backdrop-blur bg-black/30 w-full"
>
  <div class="flex justify-center items-center gap-3">
    <a href="https://angular.io/" target="_blank">
      <svg-angular
        classes="w-[100px] lg:w-[250px] transition-all duration-300 ease-in-out hover:translate-x-0 lg:hover:translate-y-2"
      ></svg-angular>
    </a>

    <span class="text-base lg:text-xl text-white capitalize"
      ><a
        href="https://wis.software"
        target="_blank"
        class="text-teal-600 transition-all duration-300 ease-in-out hover:text-teal-600 lg:hover:text-[rgb(209,67,63)]"
        >wis software</a
      >
      example</span
    >
  </div>

  <div class="flex justify-center items-center gap-3">
    <a href="https://github.com/zperekoty/wis-angular-examlpe" target="_blank">
      <svg-github
        classes="w-[20px] lg:w-[40px] fill-white transition-all duration-300 ease-in-out hover:fill-white lg:hover:fill-[rgb(209,67,63)]"
      ></svg-github>
    </a>

    <a href="https://t.me/zperekoty" target="_blank">
      <svg-telegram
        classes="w-[20px] lg:w-[40px] fill-white transition-all duration-300 ease-in-out hover:fill-white lg:hover:fill-[rgb(209,67,63)]"
      ></svg-telegram>
    </a>
  </div>
</nav>
