<div
  class="flex justify-center items-center flex-col mt-5 max-w-[320px] lg:max-w-full text-center"
>
  <p class="text-base lg:text-xl text-white">
    Запросы отправляются в
    <a
      href="https://t.me/wissoft"
      target="_blank"
      class="text-blue-400 transition-all duration-300 ease-in-out hover:text-blue-400 lg:hover:text-[rgb(209,67,63)]"
      >телеграм-канал</a
    >
    с помощью
    <a
      href="https://github.com/zperekoty/wis-server-example"
      target="_blank"
      class="text-blue-400 transition-all duration-300 ease-in-out hover:text-blue-400 lg:hover:text-[rgb(209,67,63)]"
      >сервера</a
    >
    и
    <a
      href="https://core.telegram.org/"
      target="_blank"
      class="text-blue-400 transition-all duration-300 ease-in-out hover:text-blue-400 lg:hover:text-[rgb(209,67,63)]"
      >Telegram API</a
    >
  </p>
</div>
